@import "tailwindcss";
@import "@fontsource-variable/geist";
@plugin "./hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

.bg-main {
  background-image: linear-gradient(to right, #6a3093, #a044ff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
}

html {
  @apply font-sans;
}
